<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoLapse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AutoLapse.Properties.Settings>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="speed" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="autoReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deletePNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processes" serializeAs="String">
                <value>Unity,devenv,blender</value>
            </setting>
            <setting name="preset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="threads" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="whitelist" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteDir" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoLapse.Properties.Settings>
    </userSettings>
</configuration>